<h4 class="alert alert-warning m-0">
  Subject-special type of Observable(works as data emitter as well as consumer)
</h4>
<p class="alert alert-info">
    - Subject are special type of Observable which can emit as well as consume the data. <br>
    - we can also say that Subject is observable which can be used as observer and subscriber.<br>
    - these are multicasted means we can consume one subject in multiple components at once
</p>

<div class="row mt-5">
  <div class="col-6 offset-3">
    <app-username-form></app-username-form>
  </div>
</div>

<div class="row mt-4">
  <div class="col-4">
    <app-username-one></app-username-one>
  </div>
  <div class="col-4">
    <app-username-two></app-username-two>
  </div>
  <div class="col-4">
    <app-username-three></app-username-three>
  </div>
</div>
